body { 
  font-family:Luminari, fantasy;
  width: 100%;
  color: #333;
  text-align: center;
  background-color: #fff444;
   }

h1 {
  color: #556677;
  margin-top: 0;
  font-size: 2em;
  line-height: 1em;
}

p {
  font-size: 1em;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  
}

ol {
  padding-top: 10%;
  padding-left: 10%;
}

#input-email input{
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-family: Luminari, fantasy;
}

#input-email label{
  display: block;
  margin-left: 10px;
  width: 50%;
}

#input-submit input[type="submit"]{
  width: 75px;
  font-family: Luminary,fantasy;
}

input[type="email"],
input[type="submit"],
input[type="checkbox"] {
	border: 2px;
	padding: 10px;
	width: 50%;
	display: block;
}