body { 
  font-family:Arial, sans-serif;
  width: 100%;
  color: #333;
  text-align: center;
  background-color: #fff444;
   }

h1 {
  color: #556677;
  margin-top: 0;
  font-size: 2em;
  line-height: 1em;
}

p {
  font-size: 1em;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  
}

ol {
  padding-top: 10%;
  padding-left: 10%;
}

